* {
  padding: 0px;
  margin: 0px;
}
section {
  padding: 80px 0px 30px;
}
.nav-color {
  color: white;
}
.bg-light {
  background-color: #a9a9a975 !important;
}
span.cart-icon {
  font-size: 27px;
  margin-right: 61px;
  margin-left: 12px;
}
.nav-heading {
  margin-left: 74px;
}
a:hover {
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: underline;
}
.nav-item {
  padding: 0px 20px;
}
.navbar_heading {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.navbar_home {
  display: flex;
  align-items: center;
  /* margin-left: 717px; */
}

/**************** contact component css***************************/

.contact-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 73px;
}
.contact-form-input {
  width: 300px;
  margin-bottom: 35px;
}
.Description-contact {
  height: 100px;
}
.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 48px;
}

/*************Home component css*****************************/
.home_space {
  margin-left: 60px;
}
.img-iphone:hover {
  opacity: 0.5;
}

.home-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-content {
  width: 50%;
  margin-left: 143px;
  padding: 0px 113px;
}
.btn-home {
  margin-top: 25px;
}
.space_cards {
  margin-bottom: 22px;
}

.featues {
  width: 100%;
  padding: 86px 0;
  background-color: #a9a9a959;
}
.card-iphone {
  border-radius: 20px;
  padding: 26px;
  box-shadow: -3px 8px 20px -21px #00000066;
  background: #fff;

  width: 26%;
}
.card-samsung {
  width: 33%;
}
.card-watch {
  width: 33%;
}
.feature-serivices {
  display: flex;
  width: 100%;
  margin: 50px 0px;
  flex-wrap: wrap;
}
.feature-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.feature-heading {
  align-items: center;
  justify-content: center;
  display: grid;
}
.feature-services {
  padding-bottom: 38px;
}

@media screen and (max-width: 768px) {
  .home_space {
    margin-left: 60px;
    font-size: 14px;
  }
  .btn-home {
    font-size: 10px;
  }
  .img-Home {
    text-align: center;
    width: 342px;
  }
  .home_heading {
    font-size: 18px;
  }
  .card-iphone {
    border-radius: 20px;
    padding: 26px;
    box-shadow: -3px 8px 20px -21px #00000066;
    background: #fff;
    width: 45%;
  }
  .feature-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .card_margin {
    margin-top: 21px;
  }
}

/*********************comapnies section css**************************/

.companies {
  background-color: #a9a9a959;
  margin-bottom: 64px;
}
.companies-count {
  align-items: center;
  justify-content: center;
  display: flex;
}
.company-img {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/******************* Login Page******************/
.login-data {
  justify-content: center;
  align-items: center;
  display: grid;
  margin-top: 84px;
}

.submit-btn {
  margin-left: 79px;
}

/***************** footer Section css*********************/
.footer-section {
  background-color: rgb(34, 34, 38);
  /* margin-top: 200px; */
}
.color-footer {
  color: white;
}

input#exampleInputEmail1 {
  margin-bottom: 18px;
}
.icon-space {
  margin-right: 7px;
}
.footer-phone {
  color: white;
  text-decoration: none;
}
.line-hr {
  color: white;
  margin: 60px 0px;
}
.footer-bottom {
  color: #fff;
}
.footer-policy {
  color: #fff;
  display: flex;
}
.footer-style {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
}
.footer-upper-wrapper {
  /* border: 1px solid red; */
  /* padding: 45px; */
  /* margin-top: -128px; */
  background-color: white;

  background-color: #e7ebed;
  border-radius: 10px;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.number:hover {
  color: white;
  text-decoration: none;
}
/********************payment section css*****************************/
.payment {
  width: 100%;
  margin-bottom: 36px;
}
/*   */
.cards-items {
  background-color: #a9a9a959;
  height: 200px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.truck-img {
  background-color: white;
  border-radius: 50%;
  padding: 13px;
  height: 70px;
  width: 70px;
}
.display_flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.cards-items p {
  padding-top: 25px;
}

@media screen and (max-width: 768px) {
  .display_flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 27px;
  }
  .cards-items {
    background-color: #a9a9a959;
    height: 200px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 29px;
  }
}
.sidebar {
  height: 100vh;

  background-color: #a9a9a959;
}

.featuess {
  width: 100%;
}
.cards-iphonee {
  border-radius: 20px;
  padding: 26px;
}
.features-serivice {
  display: flex;
  width: 100%;
  margin: 50px 0px;
  flex-wrap: wrap;
}
.features-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 3px 2px 15px 6px #00000029;
  border-radius: 13px;
}
.features-service {
  margin-bottom: 21px;
}
.search_bar {
  width: 218px;
  margin: 30px auto;
}
.sidebar h4 {
  font-size: 20px;
  padding: 40px 10px 20px 21px;
}
.sidebar li {
  list-style: none;
  padding: 15px 5px;
  font-size: 16px;
  font-weight: 500;
}
.sidebar_btn {
  margin-left: 22px;
}
