* {
  padding: 0px;
  margin: 0px;
}
section {
  padding: 80px 0px;
}
.nav-color {
  color: white;
}
.bg-light {
  background-color: #a9a9a975 !important;
}
span.cart-icon {
  font-size: 27px;
  margin-right: 61px;
  margin-left: 12px;
}
.nav-heading {
  margin-left: 74px;
}
a:hover {
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: underline;
}

/**************** contact component css***************************/

.contact-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 73px;
}
.contact-form-input {
  width: 300px;
  margin-bottom: 35px;
}
.Description-contact {
  height: 100px;
}
.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 48px;
}
.contact-btn {
  margin-left: 102px;
}

/*************Home component css*****************************/

.home-section {
  width: 100%;
  padding: 50px 0;
}
.home-section .img-Home {
  width: 50%;
}
.img-height {
  height: 276px;
}
.img-iphone:hover {
  opacity: 0.5;
}

.home-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-content {
  width: 50%;
  margin-left: 143px;
  padding: 0px 113px;
}
.btn-home {
  margin-top: 25px;
}

.featues {
  width: 100%;
  padding: 86px 0;
  background-color: darkgrey;
}
.card-iphone {
  border-radius: 20px;
  padding: 26px;
  box-shadow: -3px 8px 20px -21px #00000066;
  background: #fff;
  margin-left: 14px;
  margin-bottom: 17px;
  width: 26%;
}
.card-samsung {
  width: 33%;
}
.card-watch {
  width: 33%;
}
.feature-serivices {
  display: flex;
  width: 100%;
  margin: 50px 0px;
  flex-wrap: wrap;
}
.feature-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.feature-heading {
  margin-bottom: 56px;
  align-items: center;
  justify-content: center;
  display: grid;
}
.feature-services {
  padding-bottom: 38px;
}
/*********************comapnies section css**************************/

.companies {
  background-color: #a9a9a9f0;
}
.companies-count {
  align-items: center;
  justify-content: center;
  display: flex;
}
.c-img {
  height: 62px;
  width: 84px;
  margin-left: 191px;
}
/******************* Login Page******************/
.login-data {
  justify-content: center;
  align-items: center;
  display: grid;
  margin-top: 84px;
}

.submit-btn {
  margin-left: 79px;
}

/***************** footer Section css*********************/
.footer-section {
  background-color: rgb(34, 34, 38);
  margin-top: 200px;
}
.color-footer {
  color: white;
  padding: 1px 54px;
}
.footer-wrapper {
  padding: 102px 165px;
}
input#exampleInputEmail1 {
  margin-bottom: 18px;
}
.icon-space {
  margin-right: 7px;
}
.footer-phone {
  color: white;
  text-decoration: none;
}
.line-hr {
  color: white;
}
.footer-bottom {
  color: #fff;
}
.footer-policy {
  color: #fff;
}
.footer-style {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer-upper-wrapper {
  /* border: 1px solid red; */
  padding: 45px;
  margin-top: -128px;
  background-color: white;
  width: 786px;
  margin-left: 229px;
  background-color: #e7ebed;
  border-radius: 10px;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: -29px 0px;
}
.number:hover {
  color: white;
  text-decoration: none;
}
/********************payment section css*****************************/
.payment {
  width: 100%;
}
.box-cards {
  border-radius: 20px;
  padding: 30px;
  box-shadow: -3px 8px 20px -21px #00000066;
  background: #fff;
  background-color: #a9a9a940;
  margin-bottom: 17px;
  height: 244px;
  width: 273px;
  margin-left: 137px;
  margin-top: 23px;
}
.truck-img {
  background-color: white;
  width: 73px;
  border-radius: 55px;
  margin: 27px 56px;
}
.abc {
  margin-top: 27px;
  border-radius: 20px;
  border-radius: 8px;
  height: 96px;
  width: 273px;
  margin-bottom: 55px;
  margin-left: 124px;
  background-color: #a9a9a940;
}
.small-img {
  background-color: white;
  width: 73px;
  border-radius: 24px;
  margin: 22px 19px;
}
.money {
  margin-top: -58px;
  margin-left: 91px;
}
